SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTinhChietKhau](
	[maPhieuTinh] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[loaiDoiTuong] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tuNgay] [date] NULL,
	[denNgay] [date] NULL,
	[ngayTao] [datetime] NULL,
	[soPhaiThanhToan] [decimal](18, 2) NULL,
	[trangThai] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ngayThanhToan] [datetime] NULL,
	[soChuaThanhToan] [decimal](18, 2) NULL,
	[soDaThanhToan] [decimal](18, 2) NULL,
	[TenPhieu] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuChi](
	[maPhieu] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[loaiPhieu] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ngayLap] [datetime] NULL,
	[soTien] [decimal](18, 2) NULL,
	[lyDo] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[loaiDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_PhieuThuChi] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenDoiTuong] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soDienThoai] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[diaChi] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maSoThue] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soNgayDuocNo] [int] NULL,
	[duNoLuyKe] [decimal](18, 2) NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TenNguoiDung] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TenHienThi] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MatKhau] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[QuyenNguoiDung] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuongChiPhi](
	[maDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenDoiTuong] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaiLy](
	[maDaiLy] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenDaiLy] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[loaiDaiLy] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhChietKhau](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenCauHinh] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[loaiQuyLuat] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[doiTuongApDung] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[chiTietLuat] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ProductVersion] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maDoiTuong] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenDoiTuong] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soDienThoai] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[diaChi] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[aoNuoi] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[duNoLuyKe] [decimal](18, 2) NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenHang] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[donViTinh] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[quyCach] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[giaVonHienTai] [decimal](18, 2) NULL,
	[giaBanHienTai] [decimal](18, 2) NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tenDonVi] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[tyLeQuyDoi] [int] NULL,
	[giaBan] [decimal](18, 2) NULL,
	[maHangDonVi] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChietKhau](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maPhieuTinh] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soLuong] [float] NULL,
	[giaChietKhau] [decimal](18, 2) NULL,
	[thanhTien] [decimal](18, 2) NULL,
	[noiDung] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[maKho] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tenKho] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[loaiKho] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maDaiLyPhuTrach] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDisabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[maPhieu] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ngayNhap] [datetime] NULL,
	[idDaiLyNhap] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[idNhaCungCap] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[hanThanhToan] [datetime] NULL,
	[soPhaiThanhToan] [decimal](18, 2) NULL,
	[ngayThanhToan] [datetime] NULL,
	[trangthaithanhtoan] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDisabled] [bit] NOT NULL,
	[soChuaThanhToan] [decimal](18, 2) NULL,
	[soDaThanhToan] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoRiengNhaCungCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNhaCungCap] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ngayGiaoDich] [datetime] NULL,
	[loaiGiaoDich] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soTienPhatSinh] [decimal](18, 2) NULL,
	[dienGiai] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoRiengKhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maKhachHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ngayGiaoDich] [datetime] NULL,
	[loaiGiaoDich] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soTienPhatSinh] [decimal](18, 2) NULL,
	[dienGiai] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoChotKy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[MaKho] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MaHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SoLuongTonDau] [float] NULL,
	[SoLuongNhap] [float] NULL,
	[SoLuongXuat] [float] NULL,
	[SoLuongTonCuoi] [float] NULL,
	[GiaTriTonCuoi] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[maPhieu] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ngayXuat] [datetime] NULL,
	[idDaiLyBan] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[idKhachHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soPhaiThanhToan] [decimal](18, 2) NULL,
	[ngayThanhToan] [datetime] NULL,
	[trangthaithanhtoan] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[idNhaCungCap] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[loaiXuat] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[lyDo] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maKhoNhan] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[maKhoXuat] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[soChuaThanhToan] [decimal](18, 2) NULL,
	[soDaThanhToan] [decimal](18, 2) NULL,
	[IsDisabled] [bit] NOT NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[maPhieu] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[soLuong] [float] NULL,
	[donGiaNhap] [decimal](18, 2) NULL,
	[thanhTien]  AS ([soLuong]*[donGiaNhap]),
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC,
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTon](
	[maKho] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[soLuongTon] [float] NULL,
	[giaTriTon] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKho] ASC,
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[maPhieu] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[maHang] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[soLuong] [float] NULL,
	[giaBan] [decimal](18, 2) NULL,
	[giaVonTaiThoiDiem] [decimal](18, 2) NULL,
	[thanhTien]  AS ([soLuong]*[giaBan]),
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC,
	[maHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhieuTinhChietKhau] ([maPhieuTinh], [loaiDoiTuong], [maDoiTuong], [tuNgay], [denNgay], [ngayTao], [soPhaiThanhToan], [trangThai], [ngayThanhToan], [soChuaThanhToan], [soDaThanhToan], [TenPhieu], [isDisabled]) VALUES (N'CK2603141644', N'NCC', N'NCC002', CAST(N'2026-01-01' AS Date), CAST(N'2026-03-31' AS Date), CAST(N'2026-03-14T16:44:50.450' AS DateTime), CAST(39800000.00 AS Decimal(18, 2)), N'Đã Thanh Toán', CAST(N'2026-03-24T12:28:35.593' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(39800000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[PhieuTinhChietKhau] ([maPhieuTinh], [loaiDoiTuong], [maDoiTuong], [tuNgay], [denNgay], [ngayTao], [soPhaiThanhToan], [trangThai], [ngayThanhToan], [soChuaThanhToan], [soDaThanhToan], [TenPhieu], [isDisabled]) VALUES (N'CK2603151123', N'NCC', N'NCC002', CAST(N'2025-12-01' AS Date), CAST(N'2026-03-15' AS Date), CAST(N'2026-03-15T11:23:42.370' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Chưa Thanh Toán', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PhieuTinhChietKhau] ([maPhieuTinh], [loaiDoiTuong], [maDoiTuong], [tuNgay], [denNgay], [ngayTao], [soPhaiThanhToan], [trangThai], [ngayThanhToan], [soChuaThanhToan], [soDaThanhToan], [TenPhieu], [isDisabled]) VALUES (N'CK2603231854', N'KHACH', N'KH003', CAST(N'2026-02-21' AS Date), CAST(N'2026-03-23' AS Date), CAST(N'2026-03-23T18:54:33.213' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), N'Đã Thanh Toán', CAST(N'2026-03-24T11:18:51.990' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[PhieuThuChi] ([maPhieu], [loaiPhieu], [ngayLap], [soTien], [lyDo], [maDoiTuong], [loaiDoiTuong], [isDisabled]) VALUES (N'FINAL_LUONG', N'NHAP', CAST(N'2026-03-25T10:11:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'Verification test', NULL, N'CHIPHI', 1)
INSERT [dbo].[PhieuThuChi] ([maPhieu], [loaiPhieu], [ngayLap], [soTien], [lyDo], [maDoiTuong], [loaiDoiTuong], [isDisabled]) VALUES (N'luongt1A', N'CHI PHI', CAST(N'2026-03-15T11:10:00.000' AS DateTime), CAST(20000000.00 AS Decimal(18, 2)), N'luong t1 anh a', N'DTCP003', N'CHIPHI', 1)
INSERT [dbo].[PhieuThuChi] ([maPhieu], [loaiPhieu], [ngayLap], [soTien], [lyDo], [maDoiTuong], [loaiDoiTuong], [isDisabled]) VALUES (N'PC_2026031416404667', N'CHI PHIEU NHAP', CAST(N'2026-03-14T16:40:46.837' AS DateTime), CAST(82500000.00 AS Decimal(18, 2)), N'Thanh toán phiếu nhập PN002', N'NCC002', N'NCC', 0)
INSERT [dbo].[NhaCungCap] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [maSoThue], [soNgayDuocNo], [duNoLuyKe], [isDisabled]) VALUES (N'NCC001', N'Trại Tôm Minh Phú', N'0901234567', N'Cà Mau', N'3500123456', 30, CAST(13452144315200.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[NhaCungCap] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [maSoThue], [soNgayDuocNo], [duNoLuyKe], [isDisabled]) VALUES (N'NCC002', N'Vựa Hải Sản Biển Đông', N'0909888777', N'Vũng Tàu', N'3600987654', 15, CAST(176274702000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[NhaCungCap] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [maSoThue], [soNgayDuocNo], [duNoLuyKe], [isDisabled]) VALUES (N'NCC003', N'Công Ty XNK Thủy Sản An Giang', N'0912333444', N'An Giang', N'3700112233', 45, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[NguoiDung] ([TenNguoiDung], [TenHienThi], [MatKhau], [QuyenNguoiDung]) VALUES (N'admin', N'Quản trị viên', N'admin123', 1)
INSERT [dbo].[NguoiDung] ([TenNguoiDung], [TenHienThi], [MatKhau], [QuyenNguoiDung]) VALUES (N'manager', N'Quản lý', N'manager123', 2)
INSERT [dbo].[NguoiDung] ([TenNguoiDung], [TenHienThi], [MatKhau], [QuyenNguoiDung]) VALUES (N'saler', N'Nhân viên bán hàng', N'saler123', 3)
INSERT [dbo].[DoiTuongChiPhi] ([maDoiTuong], [tenDoiTuong], [isDisabled]) VALUES (N'DTCP001', N'Tiền Điện', 0)
INSERT [dbo].[DoiTuongChiPhi] ([maDoiTuong], [tenDoiTuong], [isDisabled]) VALUES (N'DTCP002', N'Tiền Nước', 0)
INSERT [dbo].[DoiTuongChiPhi] ([maDoiTuong], [tenDoiTuong], [isDisabled]) VALUES (N'DTCP003', N'Tiền Lương Nhân Viên', 0)
INSERT [dbo].[DaiLy] ([maDaiLy], [tenDaiLy], [loaiDaiLy], [isDisabled]) VALUES (N'DL001', N'Đại Lý Nhập 1', N'NHAP_A', 0)
INSERT [dbo].[DaiLy] ([maDaiLy], [tenDaiLy], [loaiDaiLy], [isDisabled]) VALUES (N'DL002', N'Đại Lý Bán 1', N'BAN_C', 0)
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260319095413_AddOutboundExtended', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260323031415_AddPartialPaymentFields', N'10.0.2')
INSERT [dbo].[KhachHang] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [aoNuoi], [duNoLuyKe], [isDisabled]) VALUES (N'KH001', N'Nhà Hàng Biển Nhớ', N'0933111222', N'Q1, TP.HCM', N'Không', CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[KhachHang] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [aoNuoi], [duNoLuyKe], [isDisabled]) VALUES (N'KH002', N'Quán Nhậu Làng Chài', N'0933444555', N'Q3, TP.HCM', N'Không', CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[KhachHang] ([maDoiTuong], [tenDoiTuong], [soDienThoai], [diaChi], [aoNuoi], [duNoLuyKe], [isDisabled]) VALUES (N'KH003', N'Anh Ba (Đại Lý Cấp 1)', N'0933666777', N'Bình Dương', N'Ao số 3', CAST(250700000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[HangHoa] ([maHang], [tenHang], [donViTinh], [quyCach], [giaVonHienTai], [giaBanHienTai], [isDisabled]) VALUES (N'HH001', N'Tôm Sú Oxi', N'Kg', N'Thùng xốp', CAST(1000.00 AS Decimal(18, 2)), CAST(220000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[HangHoa] ([maHang], [tenHang], [donViTinh], [quyCach], [giaVonHienTai], [giaBanHienTai], [isDisabled]) VALUES (N'HH002', N'Tôm Thẻ Chân Trắng', N'Kg', N'Thùng xốp', CAST(1500.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[HangHoa] ([maHang], [tenHang], [donViTinh], [quyCach], [giaVonHienTai], [giaBanHienTai], [isDisabled]) VALUES (N'HH003', N'Cua Cà Mau (Y1)', N'Kg', N'Sọt', CAST(350000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[DonViTinh] ON 

INSERT [dbo].[DonViTinh] ([id], [maHang], [tenDonVi], [tyLeQuyDoi], [giaBan], [maHangDonVi]) VALUES (1, N'HH001', N'Thùng (20kg)', 20, CAST(4400000.00 AS Decimal(18, 2)), N'HH001-THUNG')
INSERT [dbo].[DonViTinh] ([id], [maHang], [tenDonVi], [tyLeQuyDoi], [giaBan], [maHangDonVi]) VALUES (2, N'HH002', N'Tạ (100kg)', 100, CAST(14500000.00 AS Decimal(18, 2)), N'HH002-TA')
SET IDENTITY_INSERT [dbo].[DonViTinh] OFF
SET IDENTITY_INSERT [dbo].[ChiTietChietKhau] ON 

INSERT [dbo].[ChiTietChietKhau] ([id], [maPhieuTinh], [maHang], [soLuong], [giaChietKhau], [thanhTien], [noiDung]) VALUES (1, N'CK2603141644', N'HH002', 500, CAST(0.00 AS Decimal(18, 2)), CAST(39800000.00 AS Decimal(18, 2)), N'Bậc thang: 199 x 200000')
INSERT [dbo].[ChiTietChietKhau] ([id], [maPhieuTinh], [maHang], [soLuong], [giaChietKhau], [thanhTien], [noiDung]) VALUES (2, N'CK2603151123', N'HH002', 500, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Cố định: 0/đơn vị')
INSERT [dbo].[ChiTietChietKhau] ([id], [maPhieuTinh], [maHang], [soLuong], [giaChietKhau], [thanhTien], [noiDung]) VALUES (3, N'CK2603231854', N'HH001', 50, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Cố định: 0/đơn vị')
SET IDENTITY_INSERT [dbo].[ChiTietChietKhau] OFF
INSERT [dbo].[Kho] ([maKho], [tenKho], [loaiKho], [maDaiLyPhuTrach], [isDisabled]) VALUES (N'DL001', N'Kho Đại Lý Nhập 1', N'VAT_LY', N'DL001', 0)
INSERT [dbo].[Kho] ([maKho], [tenKho], [loaiKho], [maDaiLyPhuTrach], [isDisabled]) VALUES (N'DL002', N'Kho Đại Lý Bán 1', N'VAT_LY', N'DL002', 0)
INSERT [dbo].[Kho] ([maKho], [tenKho], [loaiKho], [maDaiLyPhuTrach], [isDisabled]) VALUES (N'K001', N'Kho Lạnh Chính', N'VAT_LY', N'DL001', 0)
INSERT [dbo].[PhieuNhap] ([maPhieu], [ngayNhap], [idDaiLyNhap], [idNhaCungCap], [hanThanhToan], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [isDisabled], [soChuaThanhToan], [soDaThanhToan]) VALUES (N'PN_TKBD_DL001_26032611275101', CAST(N'2026-03-26T11:27:51.097' AS DateTime), N'DL001', N'SYS_OPENING_STOCK', CAST(N'2026-03-26T11:27:51.097' AS DateTime), CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-03-26T11:27:51.097' AS DateTime), N'Đã Thanh Toán', 0, CAST(0.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([maPhieu], [ngayNhap], [idDaiLyNhap], [idNhaCungCap], [hanThanhToan], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [isDisabled], [soChuaThanhToan], [soDaThanhToan]) VALUES (N'PN001', CAST(N'2026-01-26T12:49:56.533' AS DateTime), N'DL001', N'NCC001', CAST(N'2026-02-25T12:49:56.533' AS DateTime), CAST(250000000.00 AS Decimal(18, 2)), CAST(N'2026-03-15T10:49:38.173' AS DateTime), N'Ðã Thanh Toán', 0, CAST(0.00 AS Decimal(18, 2)), CAST(250000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([maPhieu], [ngayNhap], [idDaiLyNhap], [idNhaCungCap], [hanThanhToan], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [isDisabled], [soChuaThanhToan], [soDaThanhToan]) VALUES (N'PN002', CAST(N'2026-01-31T12:49:56.540' AS DateTime), N'DL001', N'NCC002', CAST(N'2026-02-15T12:49:56.540' AS DateTime), CAST(82500000.00 AS Decimal(18, 2)), CAST(N'2026-03-14T16:40:46.837' AS DateTime), N'Ðã Thanh Toán', 0, CAST(0.00 AS Decimal(18, 2)), CAST(82500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SoRiengNhaCungCap] ON 

INSERT [dbo].[SoRiengNhaCungCap] ([id], [maNhaCungCap], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (1, N'NCC002', CAST(N'2026-03-23T15:28:00.000' AS DateTime), N'MUA_HANG', CAST(176231502000.00 AS Decimal(18, 2)), N'Tự động ghi nợ nhập hàng PN2603231528')
INSERT [dbo].[SoRiengNhaCungCap] ([id], [maNhaCungCap], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (2, N'NCC002', CAST(N'2026-01-31T12:49:56.540' AS DateTime), N'MUA_HANG', CAST(82500000.00 AS Decimal(18, 2)), N'Tự động ghi nợ nhập hàng PN002')
INSERT [dbo].[SoRiengNhaCungCap] ([id], [maNhaCungCap], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (3, N'NCC002', CAST(N'2026-03-23T22:19:31.317' AS DateTime), N'MUA_HANG', CAST(1200000.00 AS Decimal(18, 2)), N'Nhập hàng test')
SET IDENTITY_INSERT [dbo].[SoRiengNhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[SoRiengKhachHang] ON 

INSERT [dbo].[SoRiengKhachHang] ([id], [maKhachHang], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (1, N'KH001', CAST(N'2026-02-02T12:49:56.547' AS DateTime), N'MUA_HANG', CAST(31000000.00 AS Decimal(18, 2)), N'Mua hàng PX001')
INSERT [dbo].[SoRiengKhachHang] ([id], [maKhachHang], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (2, N'KH003', CAST(N'2026-02-04T12:49:56.550' AS DateTime), N'MUA_HANG', CAST(395000000.00 AS Decimal(18, 2)), N'Mua hàng PX002')
INSERT [dbo].[SoRiengKhachHang] ([id], [maKhachHang], [ngayGiaoDich], [loaiGiaoDich], [soTienPhatSinh], [dienGiai]) VALUES (3, N'KH003', CAST(N'2026-02-04T12:49:56.550' AS DateTime), N'THANH_TOAN', CAST(50000000.00 AS Decimal(18, 2)), N'Thanh toán PT001')
SET IDENTITY_INSERT [dbo].[SoRiengKhachHang] OFF
SET IDENTITY_INSERT [dbo].[TonKhoChotKy] ON 

INSERT [dbo].[TonKhoChotKy] ([Id], [Thang], [Nam], [MaKho], [MaHang], [SoLuongTonDau], [SoLuongNhap], [SoLuongXuat], [SoLuongTonCuoi], [GiaTriTonCuoi]) VALUES (1, 3, 2026, N'DL001', N'HH001', 0, 2000, 5, 1995, CAST(1995000.00 AS Decimal(18, 2)))
INSERT [dbo].[TonKhoChotKy] ([Id], [Thang], [Nam], [MaKho], [MaHang], [SoLuongTonDau], [SoLuongNhap], [SoLuongXuat], [SoLuongTonCuoi], [GiaTriTonCuoi]) VALUES (2, 3, 2026, N'DL001', N'HH002', 0, 4600, 0, 4600, CAST(6900000.00 AS Decimal(18, 2)))
INSERT [dbo].[TonKhoChotKy] ([Id], [Thang], [Nam], [MaKho], [MaHang], [SoLuongTonDau], [SoLuongNhap], [SoLuongXuat], [SoLuongTonCuoi], [GiaTriTonCuoi]) VALUES (3, 3, 2026, N'DL001', N'HH004', 0, 1500, 0, 1500, CAST(375000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TonKhoChotKy] OFF
INSERT [dbo].[PhieuXuat] ([maPhieu], [ngayXuat], [idDaiLyBan], [idKhachHang], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [idNhaCungCap], [loaiXuat], [lyDo], [maKhoNhan], [maKhoXuat], [soChuaThanhToan], [soDaThanhToan], [IsDisabled]) VALUES (N'PX_DAM_260320202526', CAST(N'2026-03-20T20:25:26.147' AS DateTime), N'DL001', NULL, CAST(1800000.00 AS Decimal(18, 2)), NULL, N'Chua Thanh Toán', NULL, N'DAMAGE_LOSS', N'hết hạn', NULL, N'K001', CAST(1800000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[PhieuXuat] ([maPhieu], [ngayXuat], [idDaiLyBan], [idKhachHang], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [idNhaCungCap], [loaiXuat], [lyDo], [maKhoNhan], [maKhoXuat], [soChuaThanhToan], [soDaThanhToan], [IsDisabled]) VALUES (N'PX_RET_260320180005', CAST(N'2026-03-20T18:00:05.970' AS DateTime), N'DL001', NULL, CAST(2200000.00 AS Decimal(18, 2)), NULL, N'Chua Thanh Toán', N'NCC001', N'RETURN_VENDOR', NULL, NULL, NULL, CAST(2200000.00 AS Decimal(18, 2)), NULL, 0)
INSERT [dbo].[PhieuXuat] ([maPhieu], [ngayXuat], [idDaiLyBan], [idKhachHang], [soPhaiThanhToan], [ngayThanhToan], [trangthaithanhtoan], [idNhaCungCap], [loaiXuat], [lyDo], [maKhoNhan], [maKhoXuat], [soChuaThanhToan], [soDaThanhToan], [IsDisabled]) VALUES (N'PX_RET_260325093952', CAST(N'2026-03-25T09:39:52.200' AS DateTime), N'DL001', NULL, CAST(2000000.00 AS Decimal(18, 2)), NULL, N'Thanh Toán Một Phần', N'NCC001', N'RETURN_VENDOR', NULL, NULL, N'DL001', CAST(1500000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ChiTietPhieuNhap] ([maPhieu], [maHang], [soLuong], [donGiaNhap]) VALUES (N'PN_TKBD_DL001_26032611275101', N'HH001', 2000, CAST(1000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([maPhieu], [maHang], [soLuong], [donGiaNhap]) VALUES (N'PN_TKBD_DL001_26032611275101', N'HH002', 2000, CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([maPhieu], [maHang], [soLuong], [donGiaNhap]) VALUES (N'PN001', N'HH001', 1000, CAST(180000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietTon] ([maKho], [maHang], [soLuongTon], [giaTriTon]) VALUES (N'DL001', N'HH001', 8095, CAST(-550091773.30 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietTon] ([maKho], [maHang], [soLuongTon], [giaTriTon]) VALUES (N'DL001', N'HH002', 4600, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietTon] ([maKho], [maHang], [soLuongTon], [giaTriTon]) VALUES (N'DL001', N'HH003', 200, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuXuat] ([maPhieu], [maHang], [soLuong], [giaBan], [giaVonTaiThoiDiem]) VALUES (N'PX_DAM_260320202526', N'HH001', 10, CAST(180000.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuXuat] ([maPhieu], [maHang], [soLuong], [giaBan], [giaVonTaiThoiDiem]) VALUES (N'PX_RET_260320180005', N'HH001', 10, CAST(220000.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuXuat] ([maPhieu], [maHang], [soLuong], [giaBan], [giaVonTaiThoiDiem]) VALUES (N'PX_RET_260325093952', N'HH001', 10, CAST(200000.00 AS Decimal(18, 2)), CAST(36806118.22 AS Decimal(18, 2)))
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_PhieuXuat_idNhaCungCap] ON [dbo].[PhieuXuat]
(
	[idNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_PhieuXuat_maKhoNhan] ON [dbo].[PhieuXuat]
(
	[maKhoNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT ((0)) FOR [soPhaiThanhToan]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT (N'ChÆ°a thanh toÃ¡n') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT ((0.0)) FOR [soChuaThanhToan]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT ((0.0)) FOR [soDaThanhToan]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[PhieuThuChi] ADD  CONSTRAINT [DF__PhieuThuC__ngayL__196BA376]  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[PhieuThuChi] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((0)) FOR [soNgayDuocNo]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((0)) FOR [duNoLuyKe]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[DoiTuongChiPhi] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[DaiLy] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [duNoLuyKe]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT ((0)) FOR [giaVonHienTai]
GO
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT ((0)) FOR [giaBanHienTai]
GO
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[DonViTinh] ADD  DEFAULT ((1)) FOR [tyLeQuyDoi]
GO
ALTER TABLE [dbo].[DonViTinh] ADD  DEFAULT ((0)) FOR [giaBan]
GO
ALTER TABLE [dbo].[Kho] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [ngayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [soPhaiThanhToan]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (N'Chưa Thanh Toán') FOR [trangthaithanhtoan]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0.0)) FOR [soChuaThanhToan]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0.0)) FOR [soDaThanhToan]
GO
ALTER TABLE [dbo].[SoRiengNhaCungCap] ADD  DEFAULT (getdate()) FOR [ngayGiaoDich]
GO
ALTER TABLE [dbo].[TonKhoChotKy] ADD  DEFAULT ((0)) FOR [SoLuongTonDau]
GO
ALTER TABLE [dbo].[TonKhoChotKy] ADD  DEFAULT ((0)) FOR [SoLuongNhap]
GO
ALTER TABLE [dbo].[TonKhoChotKy] ADD  DEFAULT ((0)) FOR [SoLuongXuat]
GO
ALTER TABLE [dbo].[TonKhoChotKy] ADD  DEFAULT ((0)) FOR [SoLuongTonCuoi]
GO
ALTER TABLE [dbo].[TonKhoChotKy] ADD  DEFAULT ((0)) FOR [GiaTriTonCuoi]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (getdate()) FOR [ngayXuat]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((0)) FOR [soPhaiThanhToan]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT (N'Chưa Thanh Toán') FOR [trangthaithanhtoan]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ('SALES') FOR [loaiXuat]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((0.0)) FOR [soChuaThanhToan]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((0.0)) FOR [soDaThanhToan]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ChiTietTon] ADD  DEFAULT ((0)) FOR [soLuongTon]
GO
ALTER TABLE [dbo].[ChiTietTon] ADD  DEFAULT ((0)) FOR [giaTriTon]
GO
ALTER TABLE [dbo].[DonViTinh]  WITH CHECK ADD FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietChietKhau]  WITH CHECK ADD FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[ChiTietChietKhau]  WITH CHECK ADD FOREIGN KEY([maPhieuTinh])
REFERENCES [dbo].[PhieuTinhChietKhau] ([maPhieuTinh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD FOREIGN KEY([maDaiLyPhuTrach])
REFERENCES [dbo].[DaiLy] ([maDaiLy])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([idDaiLyNhap])
REFERENCES [dbo].[DaiLy] ([maDaiLy])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maDoiTuong])
GO
ALTER TABLE [dbo].[SoRiengNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_SoRiengNhaCungCap_NCC] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maDoiTuong])
GO
ALTER TABLE [dbo].[SoRiengNhaCungCap] CHECK CONSTRAINT [FK_SoRiengNhaCungCap_NCC]
GO
ALTER TABLE [dbo].[SoRiengKhachHang]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maDoiTuong])
GO
ALTER TABLE [dbo].[TonKhoChotKy]  WITH CHECK ADD  CONSTRAINT [FK_TonKhoChotKy_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[TonKhoChotKy] CHECK CONSTRAINT [FK_TonKhoChotKy_HangHoa]
GO
ALTER TABLE [dbo].[TonKhoChotKy]  WITH CHECK ADD  CONSTRAINT [FK_TonKhoChotKy_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([maKho])
GO
ALTER TABLE [dbo].[TonKhoChotKy] CHECK CONSTRAINT [FK_TonKhoChotKy_Kho]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([idDaiLyBan])
REFERENCES [dbo].[DaiLy] ([maDaiLy])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([maDoiTuong])
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_KhoNhan] FOREIGN KEY([maKhoNhan])
REFERENCES [dbo].[Kho] ([maKho])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_KhoNhan]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_KhoXuat] FOREIGN KEY([maKhoXuat])
REFERENCES [dbo].[Kho] ([maKho])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_KhoXuat]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NhaCungCap] FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maDoiTuong])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NhaCungCap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([maPhieu])
REFERENCES [dbo].[PhieuNhap] ([maPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietTon]  WITH CHECK ADD FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[ChiTietTon]  WITH CHECK ADD FOREIGN KEY([maKho])
REFERENCES [dbo].[Kho] ([maKho])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD FOREIGN KEY([maHang])
REFERENCES [dbo].[HangHoa] ([maHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuat_PhieuXuat] FOREIGN KEY([maPhieu])
REFERENCES [dbo].[PhieuXuat] ([maPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietPhieuXuat_PhieuXuat]
GO
ALTER TABLE [dbo].[PhieuTinhChietKhau]  WITH CHECK ADD CHECK  (([loaiDoiTuong]='KHACH' OR [loaiDoiTuong]='NCC'))
GO
ALTER TABLE [dbo].[DaiLy]  WITH CHECK ADD CHECK  (([loaiDaiLy]='BAN_C' OR [loaiDaiLy]='NHAP_B' OR [loaiDaiLy]='NHAP_A'))
GO
ALTER TABLE [dbo].[CauHinhChietKhau]  WITH CHECK ADD CHECK  (([doiTuongApDung]='KHACH' OR [doiTuongApDung]='NCC'))
GO
ALTER TABLE [dbo].[CauHinhChietKhau]  WITH CHECK ADD CHECK  (([loaiQuyLuat]='CO_DINH' OR [loaiQuyLuat]='THEO_BAC'))
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD CHECK  (([loaiKho]='TONG_AO' OR [loaiKho]='VAT_LY'))
GO
ALTER TABLE [dbo].[SoRiengNhaCungCap]  WITH CHECK ADD  CONSTRAINT [CK_SoRiengNCC_loaiG_THU_CK] CHECK  (([loaiGiaoDich]='CHI_TRA_HANG' OR [loaiGiaoDich]='NHAP_HANG' OR [loaiGiaoDich]='BAN_HANG' OR [loaiGiaoDich]='CHI_CK' OR [loaiGiaoDich]='THU_CK' OR [loaiGiaoDich]='CAN_TRU' OR [loaiGiaoDich]='THANH_TOAN' OR [loaiGiaoDich]='MUA_HANG' OR [loaiGiaoDich]='TRA_HANG' OR [loaiGiaoDich]='DOI_TRA'))
GO
ALTER TABLE [dbo].[SoRiengNhaCungCap] CHECK CONSTRAINT [CK_SoRiengNCC_loaiG_THU_CK]
GO
ALTER TABLE [dbo].[SoRiengKhachHang]  WITH CHECK ADD  CONSTRAINT [CK_SoRiengKh_loaiG_CHI_CK] CHECK  (([loaiGiaoDich]='NHAP_HANG' OR [loaiGiaoDich]='BAN_HANG' OR [loaiGiaoDich]='CHI_CK' OR [loaiGiaoDich]='THU_CK' OR [loaiGiaoDich]='CAN_TRU' OR [loaiGiaoDich]='THANH_TOAN' OR [loaiGiaoDich]='MUA_HANG' OR [loaiGiaoDich]='TRA_HANG' OR [loaiGiaoDich]='DOI_TRA'))
GO
ALTER TABLE [dbo].[SoRiengKhachHang] CHECK CONSTRAINT [CK_SoRiengKh_loaiG_CHI_CK]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER trg_PhieuNhap_TinhHanThanhToan
ON PhieuNhap
AFTER INSERT
AS
BEGIN
    UPDATE pn
    SET hanThanhToan = DATEADD(DAY, ncc.soNgayDuocNo, pn.ngayNhap)
    FROM PhieuNhap pn
    JOIN Inserted i ON pn.maPhieu = i.maPhieu
    JOIN NhaCungCap ncc ON pn.idNhaCungCap = ncc.maDoiTuong;
END;
GO
ALTER TABLE [dbo].[PhieuNhap] ENABLE TRIGGER [trg_PhieuNhap_TinhHanThanhToan]
GO
